<div class="container file-upload">
  <div class="row">
    <div class="col-sm">
      <input #file type="file" multiple (change)="upload(file.files)" />
      <br />
      <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
        {{progress}}%
      </span>

      <span style="font-weight:bold;color:green;" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>
</div>

<div *ngIf="filesData" class="container-fluid image-container">
  <div class="row">
    <app-image-view class="col-sm-4 col-md-3 col-lg-2" *ngFor="let item of filesData" [filesModel]="item"></app-image-view>
  </div>
  <app-pagin *ngIf="maxPage > 1"
             (initFilesData)="initFilesData($event)"
             [maxPages]="maxPage"></app-pagin>
</div>
